$ibam-color: #172327;

.bg-modal-insight {
  background: $ibam-color !important;
}

.cursor-pointer {
  cursor: pointer;
}

.wpx-50 {
  width: 50px !important;;
}

.text-muted-custom {
  color: #b0b5b9 !important;
}

.btn-active {
  background-color: #2ecc71 !important;
  color: #ffffff;
}

.btn-deactive {
  background-color: #34495e !important;
  color: #ffffff;
}

.w-150 {
  width: 150px !important;
}

.h-150 {
  height: 150px !important;
}

.btn-rounded {
  //-webkit-border-radius: 500px !important;
  //-moz-border-radius: 500px !important;
  //border-radius: 500px !important;
}
.d-inline-table{
  display: inline-table!important;
}
.cursor-pointer {
  cursor: pointer;
}

.pointer-none {
  pointer-events: none !important;
}
.separator:before {
  content: '...';
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #1f5172;
  border: 1px solid #0141675c;
}
