<div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
    <div class="">
        <div class="user-details">
            <div class="media align-items-center justify-content-center user-pointer collapsed" data-toggle="collapse"
                 data-target="#user-dropdown">
                <div class="avatar">
                    <img class="mr-3 side-user-img" src="assets/images/logo.png"
                         alt="user avatar">
                </div>
                <div class="media-body">
                    <h6 class="side-user-name">HRM</h6>
                    <!--<span>Human Resources Manager</span>-->
                </div>
            </div>

        </div>
        <!--<a routerLink="/">-->
        <!--<h5 class="logo-text">Human Resources Manager</h5>-->
        <!--</a>-->
    </div>

    <ul class="sidebar-menu do-nicescrol">
        <li routerLinkActive="active">
            <a routerLink="/phong-ban-tree" class="waves-effect">
                <i class="fas fa-home"></i>
                <span class="ml-2">Trang Chủ</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/phong-ban" class="waves-effect">
                <i class="fab fa-joomla"></i>
                <span class="ml-2">Phòng Ban</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/nhan-vien" class="waves-effect">
                <i class="fas fa-user-tie"></i>
                <span class="ml-2">Nhân Viên</span>
            </a>
        </li>
     <li routerLinkActive="active">
            <a routerLink="/qua-trinh-lam-viec" class="waves-effect">
                <i class="fas fa-address-book"></i>
                <span class="ml-2">Quá Trình Làm Việc</span>
            </a>
        </li>
    <li routerLinkActive="active">
            <a routerLink="/luong" class="waves-effect">
                <i class="fas fa-money-check-alt"></i>
                <span class="ml-2">Chi Lương</span>
            </a>
        </li>
        <!--<li class="" routerLinkActive="active">-->
            <!--<a title='' class="waves-effect">-->
                <!--<i class="fab fa-delicious"></i>-->
                <!--<span class="ml-2">Quá Trình Làm Việc</span>-->
                <!--<i class="fa fa-angle-left pull-right iconup"></i>-->
            <!--</a>-->
            <!--<ul class="sidebar-submenu">-->
                <!--<li class="active">-->
                    <!--<a routerLink="dfasdf">-->
                        <!--<i class="fa fa-long-arrow-alt-right"></i>-->
                        <!--<span class="ml-4">ádfasf</span>-->
                    <!--</a>-->
                <!--</li>-->

                <!--<li class="active">-->
                    <!--<a routerLink="dfasdf">-->
                        <!--<i class="fa fa-long-arrow-alt-right"></i>-->
                        <!--<span class="ml-4">ádfasf</span>-->
                    <!--</a>-->
                <!--</li>-->

                <!--<li class="active">-->
                    <!--<a routerLink="dfasdf">-->
                        <!--<i class="fa fa-long-arrow-alt-right"></i>-->
                        <!--<span class="ml-4">ádfasf</span>-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
    </ul>

</div>
