<div class="page-wrapper">
    <div class="social-icons social-icons-fixed">
        <a href="#" class="social-icon"><i class="icon-facebook"></i></a>
        <a href="#" class="social-icon"><i class="icon-instagram"></i></a>
        <a href="#" class="social-icon"><i class="icon-twitter"></i></a>
    </div><!-- End .social-icons -->

    <app-header></app-header>
    <router-outlet></router-outlet>

    <p class="footer-copyright copyright-over">Copyright 2018 porto. All Rights Reserved.</p>
</div><!-- End .page-wrapper -->

<app-mobile-menu-overlay></app-mobile-menu-overlay>

<app-mobile-menu-container></app-mobile-menu-container>

<app-newsletter></app-newsletter>

<a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>
