<!--Start topbar header-->
<header class="topbar-nav">
    <nav class="navbar navbar-expand fixed-top">
        <ul class="navbar-nav mr-auto align-items-center">
            <li class="nav-item">
                <a class="nav-link toggle-menu">
                    <i class="ion ion-md-menu menu-icon" (click)="toggleMenu()"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav align-items-center right-nav-link">

            <li class="nav-item">
                <a routerLink="/"> <i class="fas fa-user-tie fa-2x"></i>
                    Nguyen Van A</a>
            </li>
            <li class="nav-item language">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" title="Select Language"
                   data-toggle="dropdown"
                   href="javascript:void();"><i class="fa fa-flag"></i></a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown-item cursor-pointer" (click)="resetLanguageAction('vi')"><img
                            src="assets/flags/iconfinder_Vi.png" class="flags mr-2 img-fluid" alt="icon viet nam"> Viet
                        Nam
                    </li>
                    <li class="dropdown-item cursor-pointer" (click)="resetLanguageAction('uk')"><img
                            src="assets/flags/iconfinder_UK.png" class="flags mr-2 img-fluid" alt="icon viet nam">
                        England
                    </li>
                </ul>
            </li>
            <li class="nav-item setting">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" title="Select Language"
                   data-toggle="dropdown"
                   href="javascript:void();"><i class="fas fa-cogs"></i></a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown-item cursor-pointer">
                        setting 1
                    </li>
                    <li class="dropdown-item cursor-pointer">
                        setting 2
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
<!--End topbar header-->
