#wrapper {
  .toggle-menu{
    i{
      font-size: 24px;
    }
  }
  &.toggled{
    .fixed-top{
      left: -240px;
    }
  }

}
.toggle-menu i{
  font-size: 24px;
}
.nav-item{
  position: relative;
  .dropdown-menu{
    right: -90px;
    &::after{
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 15px solid black;
      position: absolute;
      top: -14px;
      left: 37px;
    }
  }
  &.language{
    .dropdown-menu{
      right: 0px;
      &::after{
        left: 120px;
      }
    }
  }
  &.setting{
    .dropdown-menu{
      right: 0px;
      &::after{
        left: 120px;
      }
    }
  }
}
