<header class="header header-transparent">
  <div class="header-middle sticky-header">
    <div class="container-fluid">
      <div class="header-left">
        <a routerLink="" class="logo">
          <img src="assets/images/logo.png" alt="Porto Logo">
        </a>
      </div><!-- End .header-left -->
      <div class="header-right">
        <nav class="main-nav">
          <ul class="menu sf-arrows">
            <li class="active"><a routerLink="">Home</a></li>
            <li class="megamenu-container">
              <a href="category.html" class="sf-with-ul">Categories</a>
              <div class="megamenu fixed-width">
                <div class="row">
                  <div class="col-lg-7">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="menu-title">
                          <a href="#">Variations 1<span class="tip tip-new">New!</span></a>
                        </div>
                        <ul>
                          <li><a [routerLink]="['/pages']">Fullwidth Banner<span class="tip tip-hot">Hot!</span></a></li>
                          <li><a [routerLink]="['/pages']">Boxed Slider Banner</a></li>
                          <li><a [routerLink]="['/pages']">Boxed Image Banner</a></li>
                          <li><a [routerLink]="['/pages']">Left Sidebar</a></li>
                          <li><a [routerLink]="['/pages']">Right Sidebar</a></li>
                          <li><a [routerLink]="['/pages']">Product Flex Grid</a></li>
                          <li><a [routerLink]="['/pages']">Horizontal Filter1</a></li>
                          <li><a [routerLink]="['/pages']">Horizontal Filter2</a></li>
                        </ul>
                      </div><!-- End .col-lg-6 -->
                      <div class="col-lg-6">
                        <div class="menu-title">
                          <a href="#">Variations 2</a>
                        </div>
                        <ul>
                          <li><a href="#">Product List Item Types</a></li>
                          <li><a href="category-infinite-scroll.html">Ajax Infinite Scroll</a></li>
                          <li><a href="category-3col.html">3 Columns Products</a></li>
                          <li><a href="category.html">4 Columns Products <span class="tip tip-new">New</span></a></li>
                          <li><a href="category-5col.html">5 Columns Products</a></li>
                          <li><a href="category-6col.html">6 Columns Products</a></li>
                          <li><a href="category-7col.html">7 Columns Products</a></li>
                          <li><a href="category-8col.html">8 Columns Products</a></li>
                        </ul>
                      </div><!-- End .col-lg-6 -->
                    </div><!-- End .row -->
                  </div><!-- End .col-lg-8 -->
                  <div class="col-lg-5">
                    <div class="banner">
                      <a href="#">
                        <img src="assets/images/menu-banner-2.jpg" alt="Menu banner">
                      </a>
                    </div><!-- End .banner -->
                  </div><!-- End .col-lg-4 -->
                </div>
              </div><!-- End .megamenu -->
            </li>
            <li class="megamenu-container">
              <a href="product.html" class="sf-with-ul">Products</a>
              <div class="megamenu" style="background-image: url('assets/images/menu-bg.png');">
                <div class="row">
                  <div class="col-lg-10 col-xl-8">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="menu-title">
                          <a href="#">Variations</a>
                        </div>
                        <ul>
                          <li><a href="product.html">Horizontal Thumbnails</a></li>
                          <li><a href="product-full-width.html">Vertical Thumbnails<span class="tip tip-hot">Hot!</span></a></li>
                          <li><a href="product.html">Inner Zoom</a></li>
                          <li><a href="product-addcart-sticky.html">Addtocart Sticky</a></li>
                          <li><a href="product-sidebar-left.html">Accordion Tabs</a></li>
                        </ul>
                      </div><!-- End .col-lg-2 -->
                      <div class="col-lg-4">
                        <div class="menu-title">
                          <a href="#">Variations</a>
                        </div>
                        <ul>
                          <li><a href="product-sticky-tab.html">Sticky Tabs</a></li>
                          <li><a href="product-simple.html">Simple Product</a></li>
                          <li><a href="product-sidebar-left.html">With Left Sidebar</a></li>
                        </ul>
                      </div><!-- End .col-lg-2 -->
                      <div class="col-lg-4">
                        <div class="menu-title">
                          <a href="#">Product Layout Types</a>
                        </div>
                        <ul>
                          <li><a href="product.html">Default Layout</a></li>
                          <li><a href="product-extended-layout.html">Extended Layout</a></li>
                          <li><a href="product-full-width.html">Full Width Layout</a></li>
                          <li><a href="product-grid-layout.html">Grid Images Layout</a></li>
                          <li><a href="product-sticky-both.html">Sticky Both Side Info<span class="tip tip-hot">Hot!</span></a></li>
                          <li><a href="product-sticky-info.html">Sticky Right Side Info</a></li>
                        </ul>
                      </div><!-- End .col-lg-2 -->
                    </div><!-- End .row -->
                  </div><!-- End .col-lg-10 -->
                </div><!-- End .row -->
              </div><!-- End .megamenu -->
            </li>
            <li>
              <a href="#" class="sf-with-ul">Pages</a>

              <ul>
                <li><a href="about.html">About Us</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="#">Blog</a>
                  <ul>
                    <li><a href="blog.html">Blog<span class="tip tip-new">New</span></a></li>
                    <li><a href="single.html">Blog Post</a></li>
                  </ul>
                </li>
                <li><a href="cart.html">Shopping Cart</a></li>
                <li><a href="#">Checkout<span class="tip tip-hot">Hot!</span></a>
                  <ul>
                    <li><a href="checkout-shipping.html">Checkout Shipping</a></li>
                    <li><a href="checkout-shipping-2.html">Checkout Shipping 2</a></li>
                    <li><a href="checkout-review.html">Checkout Review</a></li>
                  </ul>
                </li>
                <li><a href="#">Dashboard</a>
                  <ul>
                    <li><a href="dashboard.html">Dashboard</a></li>
                    <li><a href="my-account.html">My Account</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#" class="sf-with-ul">Features</a>
              <ul>
                <li><a href="#">Header Types</a></li>
                <li><a href="#">Footer Types</a></li>
              </ul>
            </li>
          </ul>
        </nav>

        <button class="mobile-menu-toggler" type="button">
          <i class="icon-menu"></i>
        </button>

        <div class="header-dropdown dropdown-expanded">
          <a href="#">Links</a>
          <div class="header-menu">
            <ul>
              <li><a href="#">DAILY DEAL</a></li>
              <li><a href="#">MY WISHLIST </a></li>
              <li><a href="#" class="login-link">LOG IN</a></li>
            </ul>
          </div><!-- End .header-menu -->
        </div><!-- End .header-dropown -->

        <div class="header-dropdowns">
          <div class="header-dropdown">
            <a href="#">USD</a>
            <div class="header-menu">
              <ul>
                <li><a href="#">USD</a></li>
                <li><a href="#">RDS</a></li>
                <li><a href="#">BRL</a></li>
              </ul>
            </div><!-- End .header-menu -->
          </div><!-- End .header-dropown -->

          <div class="header-dropdown">
            <a href="#">ENG</a>
            <div class="header-menu">
              <ul>
                <li><a href="#">ENGLISH</a></li>
                <li><a href="#">SPANISH</a></li>
                <li><a href="#">FRENCH</a></li>
              </ul>
            </div><!-- End .header-menu -->
          </div><!-- End .header-dropown -->

          <div class="header-search">
            <a href="#" class="search-toggle" role="button">
              <i class="icon-search-2"></i><span class="search-text">Search</span></a>
            <div class="header-search-wrapper">
              <form action="#" method="get">
                <input type="search" class="form-control" name="q" id="q" placeholder="Search..." required>
                <button class="btn" type="submit"><i class="icon-search-2"></i></button>
              </form>
            </div><!-- End .header-search-wrapper -->
          </div><!-- End .header-search -->
        </div><!-- End .header-dropdowns -->

        <div class="dropdown cart-dropdown">
          <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
            <i class="icon-bag-1"></i>
            <span class="cart-text"><span class="cart-count">2</span> Items on bag</span>
          </a>

          <div class="dropdown-menu" >
            <div class="dropdownmenu-wrapper">
              <a href="#" title="Clear Products" class="cart-clear-btn">
                <i class="icon-cancel"></i>
              </a>
              <div class="dropdown-cart-products">
                <div class="product">
                  <figure class="product-image-container">
                    <a href="product.html" class="product-image">
                      <img src="assets/images/products/cart/product-1.jpg" alt="product">
                    </a>
                  </figure>

                  <div class="product-details">
                    <h4 class="product-title">
                      <a href="product.html">Reason Logo Snapback</a>
                    </h4>

                    <div class="price-box">
                      <span class="product-price">$28.00</span>
                    </div><!-- End .price-box -->
                  </div><!-- End .product-details -->
                </div><!-- End .product -->

                <div class="product">
                  <figure class="product-image-container">
                    <a href="product.html" class="product-image">
                      <img src="assets/images/products/cart/product-2.jpg" alt="product">
                    </a>
                  </figure>
                  <div class="product-details">
                    <h4 class="product-title">
                      <a href="product.html">Leather Crisscross Slides</a>
                    </h4>

                    <div class="price-box">
                      <span class="old-price">$12.90</span>
                      <span class="product-price">$8.90</span>
                    </div><!-- End .price-box -->
                  </div><!-- End .product-details -->
                </div><!-- End .product -->
              </div><!-- End .cart-product -->

              <div class="dropdown-cart-action">
                <a href="cart.html" class="btn">View Cart</a>
                <a href="checkout-shipping.html" class="btn">Checkout</a>
              </div><!-- End .dropdown-cart-total -->
            </div><!-- End .dropdownmenu-wrapper -->
          </div><!-- End .dropdown-menu -->
        </div><!-- End .dropdown -->
      </div><!-- End .header-right -->
    </div><!-- End .container-fluid -->
  </div><!-- End .header-middle -->
</header><!-- End .header -->
