<div class="card card-authentication1 mx-auto my-5">
  <div class="card-body">
    <div class="card-content p-2">
      <div class="text-center">
        <img src="assets/images/logo.png" alt="logo icon">
      </div>
      <div class="card-title text-uppercase text-center py-3">Sign In</div>
      <form #formLogin="ngForm" (ngSubmit)="onSignIn()" name="formLogin">
        <div class="form-group">
          <label for="exampleEmail" class="sr-only">Email</label>
          <div class="position-relative has-icon-right">
            <input type="text" id="exampleEmail"
                   class="form-control input-shadow"
                   placeholder="Enter Username"
                   name="sso_username"
                   #inputuserName='ngModel'
                   [(ngModel)]="user.userName"
                   required />

          </div>
          <div *ngIf="inputuserName.invalid && (inputuserName.dirty || inputuserName.touched)">
            <div *ngIf="inputuserName?.errors.required" class="text-danger"> Email Adress is required.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword" class="sr-only">Password</label>
          <div class="position-relative has-icon-right">
            <input type="password" id="exampleInputPassword"
                   class="form-control input-shadow"
                   placeholder="Enter Password"
                   #inputPassword='ngModel'
                   name="sso_password"
                   [(ngModel)]="user.passWord"
                   required
                   maxlength="10">

          </div>
          <!--show error pass word-->
          <div *ngIf="inputPassword.invalid && (inputPassword.dirty || inputPassword.touched)">
            <div *ngIf="inputPassword?.errors.required" class="text-danger"> Password is required.</div>
          </div>
        </div>
        <div class="form-row">

        </div>
        <button type="submit" class="btn btn-light btn-block mt-4" [disabled]="formLogin.invalid">Sign In</button>
      </form>
    </div>
  </div>
  <!--<div class="card-footer text-center py-3">-->
    <!--<p class="text-warning mb-0">Don't  have an account? <a routerLink="/auth/register"> Sign Up</a></p>-->
  <!--</div>-->
</div>
