.card{
    border: 0 solid;
}
.card-authentication1{
    max-width: 40rem!important;
    img{
        display: inline-block;
    }

    .form-control {
        border: 0px solid #e5eaef;
        background-color: rgba(255, 255, 255, 0.2);
        color: #fff !important;
    }

    .form-control:focus {
        background-color: rgba(0, 0, 0, .2);
        /* box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.45) */
        box-shadow: none;
    }

    .form-control-rounded {
        /*border-radius: 30px !important;*/
    }

    .form-control-square {
        border-radius: 0px !important;
    }

    .form-control:disabled, .form-control[readonly] {
        background-color: rgba(21, 14, 14, 0.45);
        opacity: 1;
    }

    .form-control-xl {
        height: 60px !important;
        font-size: 26px !important;
    }

    .position-relative {
        position: relative !important;
    }


    .has-icon-left .form-control {
        padding-right: .85rem;
        padding-left: 2.9rem;
    }

    .form-control-position {
        position: absolute;
        top: -8px;
        right: 0;
        z-index: 2;
        display: block;
        width: 3.5rem;
        height: 3.5rem;
        line-height: 3.5rem;
        text-align: center;
    }

    .has-icon-left .form-control-position {
        right: auto;
        left: 0;
    }

    .has-icon-right .form-control-position {
        right: 0;
        left: auto;
    }

    .has-icon-right .form-control {
        padding-right: 37px;
    }

    form .form-header {
        color: #ffffff;
        line-height: 3rem;
        font-size: 16px;
        letter-spacing: 1.0px;
        font-weight: 600;
        margin-bottom: 25px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    }

    form .form-footer {
        border-top: 1px solid rgba(255, 255, 255, 0.12);
        padding: 20px 0 10px 0;
        margin-top: 20px;
    }

    form.form-bordered .form-group {
        margin: 0;
        border-bottom: 1px solid #ebeff5;
    }

    form.form-bordered .form-group > div {
        padding: 20px;
        padding-right: 0;
        border-left: 1px solid #ebeff5;
    }

    form.form-bordered .form-group .col-form-label {
        padding-top: 30px;
    }

    form.striped-rows .form-group:nth-child(2n) {
        background-color: #f4f5fa;
    }

    form.striped-rows .form-group {
        margin: 0;
    }
}
