<main class="main">
    <div class="home-slider owl-carousel">
        <div class="home-slide">
            <div class="slide-bg owl-lazy" data-src="assets/images/slider/slide1.jpg"></div><!-- End .slide-bg -->
            <div class="home-slide-content">
                <h1>winter sale <br>Get 30% off <br>on jakets.</h1>

                <a href="category.html" class="btn" role="button">Shop By Jackets</a>
            </div><!-- End .home-slide-content -->
        </div><!-- End .home-slide -->

        <div class="home-slide">
            <div class="slide-bg owl-lazy" data-src="assets/images/slider/slide2.jpg"></div><!-- End .slide-bg -->
            <div class="home-slide-content">
                <h1>30% off <br>on holiday <br>occasion Shop.</h1>

                <a href="category.html" class="btn" role="button">Shop Now</a>
            </div><!-- End .home-slide-content -->
        </div><!-- End .home-slide -->

        <div class="home-slide">
            <div class="slide-bg owl-lazy" data-src="assets/images/slider/slide3.jpg"></div><!-- End .slide-bg -->
            <div class="home-slide-content">
                <h1>get 20% off <br>on summer <br>hats.</h1>

                <a href="#" class="btn" role="button">Shop By Hats</a>
            </div><!-- End .home-slide-content -->
        </div><!-- End .home-slide -->
    </div><!-- End .home-slider -->
</main><!-- End .main -->
