<div class="newsletter-popup mfp-hide" id="newsletter-popup-form"
     style="background-image: url(assets/images/newsletter_popup_bg.jpg)">
  <div class="newsletter-popup-content">
    <img src="assets/images/logo-black.png" alt="Logo" class="logo-newsletter">
    <h2>BE THE FIRST TO KNOW</h2>
    <p>Subscribe to the Porto eCommerce newsletter to receive timely updates from your favorite products.</p>
    <form action="#">
      <div class="input-group">
        <input type="email" class="form-control" id="newsletter-email" name="newsletter-email"
               placeholder="Email address" required>
        <input type="submit" class="btn" value="Go!">
      </div><!-- End .from-group -->
    </form>
    <div class="newsletter-subscribe">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="1">
          Don't show this popup again
        </label>
      </div>
    </div>
  </div><!-- End .newsletter-popup-content -->
</div><!-- End .newsletter-popup -->
