.btn-warning-hover:hover {
    background-color: #fba540;
}

.btn-danger-hover:hover {
    background-color: #f5365c;
}

.btn-success-hover:hover {
    background-color: #02ba5a;;
}

.btn-info-hover:hover {
    background-color: #03d0ea;;
}
