<div class="banner banner-fixed">
  <img src="assets/images/banners/banner-1.jpg" alt="banner">
  <div class="banner-content">
    <h1>men’s Accessories</h1>
  </div><!-- End .banner-content -->
</div><!-- End .banner -->
<nav aria-label="breadcrumb" class="breadcrumb-nav mb-md-6 below-banner">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Men</a></li>
      <li class="breadcrumb-item active" aria-current="page">Accessories</li>
    </ol>
  </div><!-- End .container-fluid -->
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-9 padding-left-lg col-xl-10">

      <nav class="toolbox">
        <div class="toolbox-left">
          <div class="toolbox-item toolbox-sort">
            <label>Sort By:</label>

            <div class="select-custom">
              <select name="orderby" class="form-control">
                <option value="menu_order" selected="selected">Default sorting</option>
                <option value="popularity">Sort by popularity</option>
                <option value="rating">Sort by average rating</option>
                <option value="date">Sort by newness</option>
                <option value="price">Sort by price: low to high</option>
                <option value="price-desc">Sort by price: high to low</option>
              </select>
            </div><!-- End .select-custom -->

            <a href="#" class="sorter-btn" title="Set Ascending Direction"><span class="sr-only">Set Ascending Direction</span></a>
          </div><!-- End .toolbox-item -->

          <div class="layout-modes">
            <a href="category.html" class="layout-btn btn-grid active" title="Grid">
              <i class="icon-mode-grid"></i>
            </a>
            <a href="category-list.html" class="layout-btn btn-list" title="List">
              <i class="icon-mode-list"></i>
            </a>
          </div><!-- End .layout-modes -->
        </div><!-- End .toolbox-left -->

        <div class="toolbox-item toolbox-show">
          <label>Show:</label>

          <div class="select-custom">
            <select name="count" class="form-control">
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="40">40</option>
              <option value="50">50</option>
            </select>
          </div><!-- End .select-custom -->
        </div><!-- End .toolbox-item -->
      </nav>

      <div class="row row-sm">
        <div class="col-6 col-md-4 col-xl-3">
          <div class="product">
            <figure class="product-image-container">
              <a href="product.html" class="product-image">
                <img src="assets/images/products/product-1.jpg" alt="product">
              </a>
              <a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
              <span class="product-label label-hot">Hot</span>
            </figure>
            <div class="product-details action-inner">
              <h2 class="product-title">
                <a href="product.html">Running Sneakers</a>
              </h2>
              <div class="product-action">
                <a href="#" class="paction add-wishlist" title="Add to Wishlist">
                  <span>Add to Wishlist</span>
                </a>
              </div><!-- End .product-action -->
              <div class="price-box">
                <span class="product-price">$28.00</span>
              </div><!-- End .price-box -->

              <ul class="config-swatch-list">
                <li class="active">
                  <a href="#" style="background-color: #1a3b9d;"></a>
                </li>
                <li>
                  <a href="#" style="background-color: #000000;"></a>
                </li>
                <li>
                  <a href="#" style="background-color: #787878;"></a>
                </li>
                <li>
                  <a href="#" style="background-color: #1f490a;"></a>
                </li>
              </ul>
            </div><!-- End .product-details -->
          </div><!-- End .product -->
        </div><!-- End .col-xl-3 -->

        <div class="col-6 col-md-4 col-xl-3">
          <div class="product">
            <figure class="product-image-container">
              <a href="product.html" class="product-image">
                <img src="assets/images/products/product-2.jpg" alt="product">
              </a>
              <a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
              <span class="product-label label-sale">-20%</span>
            </figure>
            <div class="product-details action-inner">
              <h2 class="product-title">
                <a href="product.html">Men's Apt</a>
              </h2>
              <div class="product-action">
                <a href="#" class="paction add-wishlist" title="Add to Wishlist">
                  <span>Add to Wishlist</span>
                </a>
              </div><!-- End .product-action -->
              <div class="price-box">
                <span class="old-price">$12.90</span>
                <span class="product-price">$8.90</span>
              </div><!-- End .price-box -->
            </div><!-- End .product-details -->
          </div><!-- End .product -->
        </div><!-- End .col-xl-3 -->

        <div class="col-6 col-md-4 col-xl-3">
          <div class="product">
            <figure class="product-image-container">
              <a href="product.html" class="product-image">
                <img src="assets/images/products/product-3.jpg" alt="product">
              </a>
              <a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
            </figure>
            <div class="product-details action-inner">
              <h2 class="product-title">
                <a href="product.html">Stripe-Trim Athletic Mesh Tee</a>
              </h2>
              <div class="product-action">
                <a href="#" class="paction add-wishlist" title="Add to Wishlist">
                  <span>Add to Wishlist</span>
                </a>
              </div><!-- End .product-action -->
              <div class="price-box">
                <span class="product-price">$15.00</span>
              </div><!-- End .price-box -->

              <ul class="config-swatch-list">
                <li>
                  <a href="#" style="background-color: #000000;"></a>
                </li>
                <li>
                  <a href="#" style="background-color: #8b8b8b;"></a>
                </li>
                <li>
                  <a href="#" style="background-color: #dd1818;"></a>
                </li>
              </ul>
            </div><!-- End .product-details -->
          </div><!-- End .product -->
        </div><!-- End .col-xl-3 -->

        <div class="col-6 col-md-4 col-xl-3">
          <div class="product">
            <figure class="product-image-container">
              <a href="product.html" class="product-image">
                <img src="assets/images/products/product-4.jpg" alt="product">
              </a>
              <a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
            </figure>
            <div class="product-details action-inner">
              <h2 class="product-title">
                <a href="product.html">Classic Crew Neck Sweatshirt</a>
              </h2>
              <div class="product-action">
                <a href="#" class="paction add-wishlist" title="Add to Wishlist">
                  <span>Add to Wishlist</span>
                </a>
              </div><!-- End .product-action -->
              <div class="price-box">
                <span class="product-price">$12.80</span>
              </div><!-- End .price-box -->

              <ul class="config-swatch-list">
                <li class="active">
                  <a href="#" style="background-color: #c8b911;"></a>
                </li>
                <li>
                  <a href="#" style="background-color: #0b31f4;"></a>
                </li>
                <li>
                  <a href="#" style="background-color: #e10c0c;"></a>
                </li>
                <li>
                  <a href="#" style="background-color: #16d7e3;"></a>
                </li>
              </ul>
            </div><!-- End .product-details -->
          </div><!-- End .product -->
        </div><!-- End .col-xl-3 -->

        <div class="col-6 col-md-4 col-xl-3">
          <div class="product">
            <figure class="product-image-container">
              <a href="product.html" class="product-image">
                <img src="assets/images/products/product-5.jpg" alt="product">
              </a>
              <a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
            </figure>
            <div class="product-details action-inner">
              <h2 class="product-title">
                <a href="product.html">Zippered High-Top Sneakers</a>
              </h2>
              <div class="product-action">
                <a href="#" class="paction add-wishlist" title="Add to Wishlist">
                  <span>Add to Wishlist</span>
                </a>
              </div><!-- End .product-action -->
              <div class="price-box">
                <span class="product-price">$34.90</span>
              </div><!-- End .price-box -->
            </div><!-- End .product-details -->
          </div><!-- End .product -->
        </div><!-- End .col-xl-3 -->

        <div class="col-6 col-md-4 col-xl-3">
          <div class="product">
            <figure class="product-image-container">
              <a href="product.html" class="product-image">
                <img src="assets/images/products/product-6.jpg" alt="product">
              </a>
              <a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
              <span class="product-label label-hot">Hot</span>
            </figure>
            <div class="product-details action-inner">
              <h2 class="product-title">
                <a href="product.html">Matte Browline Sunglasses</a>
              </h2>
              <div class="product-action">
                <a href="#" class="paction add-wishlist" title="Add to Wishlist">
                  <span>Add to Wishlist</span>
                </a>
              </div><!-- End .product-action -->
              <div class="price-box">
                <span class="product-price">$5.80</span>
              </div><!-- End .price-box -->
            </div><!-- End .product-details -->
          </div><!-- End .product -->
        </div><!-- End .col-xl-3 -->

        <div class="col-6 col-md-4 col-xl-3">
          <div class="product">
            <figure class="product-image-container">
              <a href="product.html" class="product-image">
                <img src="assets/images/products/product-7.jpg" alt="product">
              </a>
              <a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
              <span class="product-label label-hot">Hot</span>
            </figure>
            <div class="product-details action-inner">
              <h2 class="product-title">
                <a href="product.html">Vegan Leather-Sleeved Bomber Jacket</a>
              </h2>
              <div class="product-action">
                <a href="#" class="paction add-wishlist" title="Add to Wishlist">
                  <span>Add to Wishlist</span>
                </a>
              </div><!-- End .product-action -->
              <div class="price-box">
                <span class="product-price">$39.90</span>
              </div><!-- End .price-box -->
            </div><!-- End .product-details -->
          </div><!-- End .product -->
        </div><!-- End .col-xl-3 -->

        <div class="col-6 col-md-4 col-xl-3">
          <div class="product">
            <figure class="product-image-container">
              <a href="product.html" class="product-image">
                <img src="assets/images/products/product-8.jpg" alt="product">
              </a>
              <a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
            </figure>
            <div class="product-details action-inner">
              <h2 class="product-title">
                <a href="product.html">Ribbed Knit Beanie</a>
              </h2>
              <div class="product-action">
                <a href="#" class="paction add-wishlist" title="Add to Wishlist">
                  <span>Add to Wishlist</span>
                </a>
              </div><!-- End .product-action -->
              <div class="price-box">
                <span class="product-price">$12.80</span>
              </div><!-- End .price-box -->

              <ul class="config-swatch-list">
                <li class="active">
                  <a href="#" style="background-color: #000000;"></a>
                </li>
                <li>
                  <a href="#" style="background-color: #878787;"></a>
                </li>
                <li>
                  <a href="#" style="background-color: #d0d0d0;"></a>
                </li>
              </ul>
            </div><!-- End .product-details -->
          </div><!-- End .product -->
        </div><!-- End .col-xl-3 -->

        <div class="col-6 col-md-4 col-xl-3">
          <div class="product">
            <figure class="product-image-container">
              <a href="product.html" class="product-image">
                <img src="assets/images/products/product-9.jpg" alt="product">
              </a>
              <a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
            </figure>
            <div class="product-details action-inner">
              <h2 class="product-title">
                <a href="product.html">Classic Woven Dress Pants</a>
              </h2>
              <div class="product-action">
                <a href="#" class="paction add-wishlist" title="Add to Wishlist">
                  <span>Add to Wishlist</span>
                </a>
              </div><!-- End .product-action -->
              <div class="price-box">
                <span class="old-price">$29.90</span>
                <span class="product-price">$20.99</span>
              </div><!-- End .price-box -->
            </div><!-- End .product-details -->
          </div><!-- End .product -->
        </div><!-- End .col-xl-3 -->

        <div class="col-6 col-md-4 col-xl-3">
          <div class="product">
            <figure class="product-image-container">
              <a href="product.html" class="product-image">
                <img src="assets/images/products/product-10.jpg" alt="product">
              </a>
              <a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
            </figure>
            <div class="product-details action-inner">
              <h2 class="product-title">
                <a href="product.html">Keds Roster Sneakers</a>
              </h2>
              <div class="product-action">
                <a href="#" class="paction add-wishlist" title="Add to Wishlist">
                  <span>Add to Wishlist</span>
                </a>
              </div><!-- End .product-action -->
              <div class="price-box">
                <span class="product-price">$50.00</span>
              </div><!-- End .price-box -->
            </div><!-- End .product-details -->
          </div><!-- End .product -->
        </div><!-- End .col-xl-3 -->

        <div class="col-6 col-md-4 col-xl-3">
          <div class="product">
            <figure class="product-image-container">
              <a href="product.html" class="product-image">
                <img src="assets/images/products/product-11.jpg" alt="product">
              </a>
              <a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
            </figure>
            <div class="product-details action-inner">
              <h2 class="product-title">
                <a href="product.html">Men Ettika Leather Bracelet</a>
              </h2>
              <div class="product-action">
                <a href="#" class="paction add-wishlist" title="Add to Wishlist">
                  <span>Add to Wishlist</span>
                </a>
              </div><!-- End .product-action -->
              <div class="price-box">
                <span class="product-price">$28.00</span>
              </div><!-- End .price-box -->
            </div><!-- End .product-details -->
          </div><!-- End .product -->
        </div><!-- End .col-xl-3 -->

        <div class="col-6 col-md-4 col-xl-3">
          <div class="product">
            <figure class="product-image-container">
              <a href="product.html" class="product-image">
                <img src="assets/images/products/product-12.jpg" alt="product">
              </a>
              <a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
              <span class="product-label label-hot">Hot</span>
            </figure>
            <div class="product-details action-inner">
              <h2 class="product-title">
                <a href="product.html">Men Striped Dope Crew Socks</a>
              </h2>
              <div class="product-action">
                <a href="#" class="paction add-wishlist" title="Add to Wishlist">
                  <span>Add to Wishlist</span>
                </a>
              </div><!-- End .product-action -->
              <div class="price-box">
                <span class="product-price">$9.90</span>
              </div><!-- End .price-box -->
            </div><!-- End .product-details -->
          </div><!-- End .product -->
        </div><!-- End .col-xl-3 -->

        <div class="col-6 col-md-4 col-xl-3">
          <div class="product">
            <figure class="product-image-container">
              <a href="product.html" class="product-image">
                <img src="assets/images/products/product-13.jpg" alt="product">
              </a>
              <a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
            </figure>
            <div class="product-details action-inner">
              <h2 class="product-title">
                <a href="product.html">Ribbed Knit Thermal</a>
              </h2>
              <div class="product-action">
                <a href="#" class="paction add-wishlist" title="Add to Wishlist">
                  <span>Add to Wishlist</span>
                </a>
              </div><!-- End .product-action -->
              <div class="price-box">
                <span class="product-price">$9.90</span>
              </div><!-- End .price-box -->
            </div><!-- End .product-details -->
          </div><!-- End .product -->
        </div><!-- End .col-xl-3 -->

        <div class="col-6 col-md-4 col-xl-3">
          <div class="product">
            <figure class="product-image-container">
              <a href="product.html" class="product-image">
                <img src="assets/images/products/product-14.jpg" alt="product">
              </a>
              <a href="ajax/product-quick-view.html" class="btn-quickview">Quick View</a>
              <span class="product-label label-hot">Hot</span>
            </figure>
            <div class="product-details action-inner">
              <h2 class="product-title">
                <a href="product.html">Reason Mesh Snapback</a>
              </h2>
              <div class="product-action">
                <a href="#" class="paction add-wishlist" title="Add to Wishlist">
                  <span>Add to Wishlist</span>
                </a>
              </div><!-- End .product-action -->
              <div class="price-box">
                <span class="product-price">$28.00</span>
              </div><!-- End .price-box -->
            </div><!-- End .product-details -->
          </div><!-- End .product -->
        </div><!-- End .col-xl-3 -->
      </div><!-- End .row -->

      <nav class="toolbox toolbox-pagination">
        <ul class="pagination">
          <li class="page-item active">
            <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item"><span class="page-link">...</span></li>
          <li class="page-item">
            <a class="page-link page-link-btn" href="#"><i class="icon-angle-right"></i></a>
          </li>
        </ul>
      </nav>
    </div><!-- End .col-lg-8 -->

    <aside class="sidebar-shop col-lg-3 col-xl-2 order-lg-first">
      <div class="sidebar-wrapper">
        <div class="widget">
          <h3 class="widget-title">
            <a data-toggle="collapse" href="#widget-body-2" role="button" aria-expanded="true" aria-controls="widget-body-2">Men</a>
          </h3>

          <div class="collapse show" id="widget-body-2">
            <div class="widget-body">
              <ul class="cat-list">
                <li><a href="#">Accessories</a></li>
                <li><a href="#">Watch Fashion</a></li>
                <li><a href="#">Tees, Knits & Polos</a></li>
                <li><a href="#">Pants & Denim</a></li>
              </ul>
            </div><!-- End .widget-body -->
          </div><!-- End .collapse -->
        </div><!-- End .widget -->

        <div class="widget">
          <h3 class="widget-title">
            <a data-toggle="collapse" href="#widget-body-3" role="button" aria-expanded="true" aria-controls="widget-body-3">Price</a>
          </h3>

          <div class="collapse show" id="widget-body-3">
            <div class="widget-body">
              <form action="#">
                <div class="price-slider-wrapper">
                  <div id="price-slider"></div><!-- End #price-slider -->
                </div><!-- End .price-slider-wrapper -->

                <div class="filter-price-action">
                  <button type="submit" class="btn btn-primary">Filter</button>

                  <div class="filter-price-text">
                    Price:
                    <span id="filter-price-range"></span>
                  </div><!-- End .filter-price-text -->
                </div><!-- End .filter-price-action -->
              </form>
            </div><!-- End .widget-body -->
          </div><!-- End .collapse -->
        </div><!-- End .widget -->

        <div class="widget">
          <h3 class="widget-title">
            <a data-toggle="collapse" href="#widget-body-4" role="button" aria-expanded="true" aria-controls="widget-body-4">Size</a>
          </h3>

          <div class="collapse show" id="widget-body-4">
            <div class="widget-body">
              <ul class="cat-list">
                <li><a href="#">Small</a></li>
                <li><a href="#">Medium</a></li>
                <li><a href="#">Large</a></li>
                <li><a href="#">Extra Large</a></li>
              </ul>
            </div><!-- End .widget-body -->
          </div><!-- End .collapse -->
        </div><!-- End .widget -->

        <div class="widget">
          <h3 class="widget-title">
            <a data-toggle="collapse" href="#widget-body-5" role="button" aria-expanded="true" aria-controls="widget-body-5">Brand</a>
          </h3>

          <div class="collapse show" id="widget-body-5">
            <div class="widget-body">
              <ul class="cat-list">
                <li><a href="#">Adidas</a></li>
                <li><a href="#">Calvin Klein (26)</a></li>
                <li><a href="#">Diesel (3)</a></li>
                <li><a href="#">Lacoste (8)</a></li>
              </ul>
            </div><!-- End .widget-body -->
          </div><!-- End .collapse -->
        </div><!-- End .widget -->

        <div class="widget">
          <h3 class="widget-title">
            <a data-toggle="collapse" href="#widget-body-6" role="button" aria-expanded="true" aria-controls="widget-body-6">Color</a>
          </h3>

          <div class="collapse show" id="widget-body-6">
            <div class="widget-body">
              <ul class="config-swatch-list">
                <li class="active">
                  <a href="#" style="background-color: #1645f3;"></a>
                  <span>Blue</span>
                </li>
                <li>
                  <a href="#" style="background-color: #f11010;"></a>
                  <span>Red</span>
                </li>
                <li>
                  <a href="#" style="background-color: #fe8504;"></a>
                  <span>Orange</span>
                </li>
                <li>
                  <a href="#" style="background-color: #2da819;"></a>
                  <span>Green</span>
                </li>
              </ul>
            </div><!-- End .widget-body -->
          </div><!-- End .collapse -->
        </div><!-- End .widget -->
      </div><!-- End .sidebar-wrapper -->
    </aside><!-- End .col-lg-4 -->
  </div><!-- End .row -->
</div><!-- End .container-fluid -->
