<footer class="footer">
  <div class="footer-middle">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="widget">
            <h4 class="widget-title">Menu</h4>

            <ul class="links">
              <li><a href="about.html">About Us</a></li>
              <li><a href="my-account.html">My Account</a></li>
              <li><a href="#">Orders History</a></li>
              <li><a href="#">Advanced Search</a></li>
            </ul>
          </div><!-- End .widget -->
        </div><!-- End .col-lg-2 -->

        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="widget">
            <h4 class="widget-title">Features</h4>
            <ul class="links">
              <li><a href="#">Page 1 - Lorem ipsum dolor</a></li>
              <li><a href="#">Page 2 -  Consectetur</a></li>
              <li><a href="#">Page 3 - Adipiscing elit</a></li>
              <li><a href="#">Page 4 - Integer iaculis nisl</a></li>
              <li><a href="#">Page 5 - Pretium ligula ornare</a></li>
              <li><a href="#">Page 6 - Pellentesque</a></li>
            </ul>
          </div><!-- End .widget -->
        </div><!-- End .col-lg-2 -->

        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="widget">
            <h4 class="widget-title">Contact Us</h4>
            <ul class="contact-info">
              <li>
                <span class="contact-info-label">Address:</span>123 Street Name, City, <br>United states
              </li>
              <li>
                <span class="contact-info-label">Phone:</span><a href="tel:">(123) 456-7890</a>
              </li>
              <li>
                <span class="contact-info-label">Email:</span> <a href="mailto:mail@example.com">mail@example.com</a>
              </li>
              <li>
                <span class="contact-info-label">Working Days/Hours:</span>
                Mon - Sun / 9:00AM - 8:00PM <br>
                <span class="work-status">Open now</span>
              </li>
            </ul>
          </div><!-- End .widget -->
        </div><!-- End .col-lg-2 -->

        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="widget">
            <h4 class="widget-title">Follow Us</h4>

            <ul class="social-info">
              <li>
                <a href="#" target="_blank">
                  <i class="icon-facebook"></i>
                  <span>/portoeccomerce</span>
                </a>
              </li>
              <li>
                <a href="#" target="_blank">
                  <i class="icon-instagram"></i>
                  <span>/porto</span>
                </a>
              </li>
              <li>
                <a href="#" target="_blank">
                  <i class="icon-twitter"></i>
                  <span>/portoofficial</span>
                </a>
              </li>
            </ul>
          </div><!-- End .widget -->
        </div><!-- End .col-lg-2 -->

        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="widget widget-newsletter">
            <h4 class="widget-title">Join Us</h4>

            <p>Get all the latest information on Events, Sales and Offers. Sign up for newsletter today.</p>

            <form action="#">
              <input type="email" class="form-control" placeholder="YOUR EMAIL" required>

              <input type="submit" class="btn" value="Send">
            </form>
          </div><!-- End .widget -->
        </div><!-- End .col-lg-2 -->

      </div><!-- End .row -->
    </div><!-- End .container-fluid -->
  </div><!-- End .footer-middle -->
  <div class="container-fluid">
    <div class="footer-bottom">
      <p class="footer-copyright">Copyright 2018 porto. All Rights Reserved.</p>

      <img src="assets/images/payments.png" alt="payment methods" class="footer-payments">
    </div><!-- End .footer-bottom -->
  </div><!-- End .container-fluid -->
</footer><!-- End .footer -->
