//@import "./assets/scss/first_loading";
//@import "./assets/scss/custom_thirparty_library";
@import "./assets/scss/common";

//Custom Css
.select2-results__option {
  color: black;
}

.select2-container {
  &.select2-container--open {
    background: transparent;
  }

  &.select2 {
    width: 100% !important;
    display: block;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border: 0px solid #e5eaef;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff !important;
  }

  .select2-selection__rendered {
    color: #fff !important;
  }
}

.select2-container--default .select2-selection--single {
  background-color: transparent;
  border: 0px solid #aaa;
  border-radius: 4px;
}

//tags input
.bootstrap-tagsinput {
  display: block;
  //border-radius: 500px;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.bootstrap-tagsinput .tag {
  padding: 5px 8px;
}

@media (min-width: 576px) {
  .modal-dialog-custom {
    max-width: 660px;
  }
}

@media (min-width: 992px) {
  .modal-lg-custom {
    max-width: 900px;
  }
  .modal-dialog-custom-table {
    max-width: 980px;
  }
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  background: transparent !important;
  border: 0px solid transparent !important;
}



.timepicker {
  background: #062e3b !important;
  border-color: red;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  background: #062e3b !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*
 * File
 */

.file {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 2.5rem;
}
.file input {
  min-width: 14rem;
  margin: 0;
  filter: alpha(opacity=0);
  opacity: 0;
}
.file-custom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 2.5rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  border: .075rem solid  rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff !important;
  border-radius: .25rem;
  box-shadow: inset 0 .2rem .4rem rgba(0,0,0,.05);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.file-custom:after {
  content: "Choose file...";
}
.file-custom:before {
  position: absolute;
  top: -.075rem;
  right: -.075rem;
  bottom: -.075rem;
  z-index: 6;
  display: block;
  content: "Browse";
  height: 2.5rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: #ffffff;
  background-color: #062e3b;
  border: .075rem solid rgba(255, 255, 255, 0.2);
  border-radius: 0 .25rem .25rem 0;
}

/* Focus */
.file input:focus ~ .file-custom {
  box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
}


.get-org-chart input {
  background-color: #524c477a !important;
  color: white !important;
}
