
.footer {
    bottom: 0px;
    color: rgba(255, 255, 255, 0.73);
    text-align: center;
    padding: 12px 30px;
    position: absolute;
    right: 0;
    left: 240px;
    background-color: transparent;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#wrapper.toggled .footer {
    position: absolute;
    left: 0px;
}
